.title-block {
  @apply text-left;
  display: flex;
  align-items: center;
  padding: 1rem;
  position: relative;
  width: 100%;

  @screen lg {
    display: block;
    @apply text-center;
    margin: 3rem 0;
  }
  &__logo {
    @apply rounded-full mr-4 bg-white border border-grey p-1;
    height: auto;
    @screen md {
      @apply mr-0;
    }
  }

}
