/*------------------------------------*
	SVG ARTWORK FONT FACES
*------------------------------------*/

$font-family__light: "helveticaneue-light, helvetica neue";
$font-family__regular: "helveticaneue, helvetica neue";
$font-family__medium: "helveticaneue-medium, helvetica neue";

/*------------------------------------*
	SASS FONT SIZE VARIABLES
*------------------------------------*/

$font-base-size

$text-size__jumbo: 52px;

$text-size__xx-large: 36px;
$text-size__x-large: 28px;
$text-size__large: 19px;
$text-size__medium: 18px;
$text-size__small: 16px;
$text-size__x-small: 14px;
$text-size__xx-small: 13px;

$text-size__tiny: 12px;