/*------------------------------------*
	SVG ARTWORK COLORS
*------------------------------------*/

$black: #000000;
$white: #FFFFFF;
$ghost-white: #F9F7FE;
$navy-purple: #9351E5;
$dark-mint-green: #27C97B;
$neon-fuchsia: #FC4561;
$saffron: #F9C431;
$cerebral-grey: #CCCCCC;
$basalt-grey: #999999;
$sky-captain: #232836;
$panel-grey: #282E3D;