//wrapper
.layout-block
	// aside
	aside
		// datacenter title block
		.layout-block
			img
			h1 Datacenter Name
			p 172.03.12.1
			
		// datacenter menu
		ul
			li
				// Add icon
				a Activity
			li
				// Add icon
				a Activity
			li
				// Add icon
				a Activity
			li
				// Add icon
				a Activity

		// service label
		.layout-block Mesosphere DCOS v.1.6
		
		// service-button
		button Open Command Line
	
	// main
	main
		// heading
		h2 Activity
		
		// menu
		ul
			li
				a Overview
			li
				a Services
			li
				a Tasks
			li
				a Hosts
	
		// columns
		
			// column-item
			
			// column-item

		// columns
		
			// column-item
			
			// column-item
			
			// column-item