//@import "vendors/normalize"; /* Not needed if using Tailwind */
@tailwind preflight;

@import "config/variables";
@import "helpers/mixins";
@import "helpers/ratio-blocks";

.layout-block {
  background-color: rgba(164, 164, 164, 0.38);
  padding: 0.5rem;
  border: 1px dashed #969696;
}

.layout-block--nopadding {
  padding: 0;
}

.grid-block {
  background-color: #FFF;
  padding: 0.5rem;
}

@tailwind components;
@tailwind utilities;

/* Base Elements */
@import "base/typography";

/* Components */
@import "components/wrapper";
@import "components/sidebar";
@import "components/title-block";
@import "components/vertical-menu";
@import "components/dashboard";
@import "components/grid";
@import "components/panel";
@import "components/data-label";
@import "components/chart-container";
@import "components/data-group";
@import "components/data-group--inline";
@import "components/data-group-media";